<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center"
     #f="ngForm" (ngSubmit)="onSubmit(f)"
     fxLayoutGap="10px">
    <mat-form-field>
        <input type="email" matInput placeholder="Your Email" ngModel 
        name="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="password should be 6 charecter long">
        <input type="password" matInput placeholder="Your Password" ngModel
        name="password" required minlength="6" #pwdInput="ngModel">
        <mat-hint align="end">{{pwdInput.value?.length}} /6</mat-hint>
        <mat-error>has to long 6 charecter long</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Your birthdate</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox name="agree" required color="primary">Agree to terms and conditions</mat-checkbox>
    <button class="btnsubmit" type="submit" mat-raised-button color="primary"
    [disabled]="f.invalid">Submit</button>
</form>
</section>